<ng-container *ngIf="current">

  <sl-bigheader
    [Avatar]="'assets/media/avatars/Dashboard.png'"
    [Background]="'assets/media/backgrounds/Dashboard.png'"
    [Title]="current.Name"
    [EditStatus]="EditStatus"
    [canSave]="form.valid"
    (Save)="Save()"
    (Edit)="Edit()"
    (Cancel)="Cancel()"
    (Delete)="Delete()"
  >
    <ng-template #bigheadcontent>

      <ng-container *ngIf="EditStatus==='none'">

          <div class="accent dashboard-details-title">
            Name
          </div>
          <div class="dashboard-details-value">
            {{current.Name}}
          </div>

          <div class="accent dashboard-details-title">
            Descrizione
          </div>
          <div class="dashboard-details-value">
            {{current.Description}}
          </div>
      </ng-container>

      <ng-container *ngIf="EditStatus==='add' || EditStatus==='edit'">

          <form  [formGroup]="form">
          <div class="dashboard-edit-form">
            <label  class="dashboard-edit-label"  for="dashboard-name">Name</label>
            <input  class="dashboard-edit-textbox" id="dashboard-name" formControlName="Name">
            <label  class="dashboard-edit-label"  for="dashboard-surname">Description</label>
            <input  class="dashboard-edit-textbox" id="dashboard-surname" formControlName="Description">
          </div>

        </form>
        </ng-container>

    </ng-template>
  </sl-bigheader>
</ng-container>



