<div *ngIf="this.config && config.configurator" style="height: 100%; max-height: 100%; ">
    
    <div style="padding:20px">
        <app-source-selector [(Store)]="currStore.Store"></app-source-selector>
    </div>
    localcolumns {{localcolumns | json}}
    <table>
        <tr>
          <th *ngFor="let c of localcolumns">{{c}}</th>
        </tr>
        <tr  *ngFor="let v of localdata">
            <td *ngFor="let c of localcolumns">{{v[c]}}</td>
          </tr>
      </table>
</div>

<div *ngIf="this.config && !this.config.configurator"  style="height: 100%; max-height: 100%;  overflow: hidden;">

    <sl-single-value [Value]="1" [Color]="'red'">
    </sl-single-value>
    <div class="item-value-title">
        {{config.title}}
    </div>
    <div class="item-value-footer">
        KKKKKKKKKKK {{footer}}
    </div>
</div>
  