<div *ngIf="this.config && config.configurator" style="height: 100%; max-height: 100%; ">
    item type{{ItemValueParameters.itemtype}}
    <ng-select [items]="ItemTypes" bindLabel="Name" bindValue="Id" 
    [(ngModel)] ="ItemValueParameters.itemtype"></ng-select>
</div>

<div *ngIf="this.config && !this.config.configurator"  style="height: 100%; max-height: 100%;  overflow: hidden;">

    <sl-single-value [Value]="1" [Color]="'red'">
    </sl-single-value>
    <div class="item-value-title">
        {{config.title}}
    </div>
    <div class="item-value-footer">
        KKKKKKKKKKK {{footer}}
    </div>
</div>
  