<ng-container *ngIf="current">
  <sl-bigheader
    [Avatar]="'assets/media/' + current.Avatar"
    [Background]="'assets/media/backgrounds/Italia.jpg'"
    [Title]="current.Name"
    [EditStatus]="EditStatus"
    [canSave]="form.valid"
    (Save)="Save()"
    (Edit)="Edit()"
    (Cancel)="Cancel()"
    (Delete)="Delete()"
  >
    <ng-template #bigheadcontent>
      <ng-container *ngIf="EditStatus === 'none'">
        <div class="accent region-details-title">Aree</div>
          <div *ngFor="let area of activeAree" class="region-details-value">
            {{ area.Name }}
          </div>
      </ng-container>

      <ng-container *ngIf="EditStatus === 'add' || EditStatus==='edit'">
          <form [formGroup]="form">
            <div class="region-edit-form">
              <label class="region-edit-label" for="region-name"
                >Region name</label
              >
              <input
                class="region-edit-textbox"
                id="region-name"
                formControlName="Name"
              />
            </div>
            <div class="accent region-details-title">Aree</div>
            <div class="region-edit-form" formArrayName="Aree">
              <div
                *ngFor="let areaitemForm of AreeFA.controls; let i = index"
                class="region-details-value"
              >
                <div
                  *ngIf="!areaitemForm.value.deleted; else deletedarea"
                  class="region-area-edit"
                  [formGroupName]="i"
                >
                <button pButton pRipple type="button" icon="fa-solid fa-times" title="delete area" class=" p-button-text" (click)="DeleteArea(areaitemForm.value, i)"></button>

                  <!-- <input  class="region-edit-textbox" id="area-{i}" [(ngModel)]="areaitem.Name" [ngModelOptions]="{standalone: true}"> -->
                  <!--<div class="region-edit-label">{{area.Name}}</div>-->
                  <input
                    type="text"
                    title="Areaname"
                    class="region-edit-textbox"
                    id="area-{i}"
                    formControlName="Name"
                  />
                </div>
                <ng-template #deletedarea>
                  <div class="region-area-edit" [formGroupName]="i">
                    <button pButton pRipple type="button" icon="'fa-solid fa-undo" title="delete area" class=" p-button-text" (click)="RestoreArea(areaitemForm.value, i)"></button>
                    <div class="deleted-text">
                      {{ areaitemForm.value.Name }}
                    </div>
                  </div>
                </ng-template>
              </div>
              <div class="region-button">
                <button pButton pRipple type="button" icon="fa-solid fa-plus" label="Nuova area" title="Nuova area" class=" p-button-text" (click)="createArea()"></button>
              </div>
            </div>
          </form>
      </ng-container>
    </ng-template>
  </sl-bigheader>
</ng-container>
