<sl-hmaster-details [SelectedDetail]="DetailItem">
<ng-template #hmdmaster>
  <div class="manager-master">
    <div class="manager-master-title">
      Managers
    </div>
    <div class="manager-master-subtitle">
      {{itemsCount}} managers
    </div>
    <div class="manager-master-top">
      <div class="manager-master-search">
        <sl-search-bar></sl-search-bar>
      </div>
      <div class="manager-master-addbutton">

        <button pButton pRipple type="button" icon="fa-solid fa-plus" class="p-button-rounded" title="add" ></button>
      </div>

    </div>
    <app-manager-list [items]="items" (SelectedChange)="SelectedChange($event)"></app-manager-list>
  </div>
</ng-template>



<ng-template #hmddetails let-row>
  <app-manager-details [current]="row"></app-manager-details>
</ng-template>

</sl-hmaster-details>
