<sl-Layouts>
  <ng-template #top>
    TOP
  </ng-template>

  <ng-template #left>
    <div style="width: 300px;">
      <ul>
        <li>Menu1</li>
        <li>Menu2</li>
        <li>Menu3</li>
        <li>Menu4</li>
      </ul>
    </div>
  </ng-template>
  <ng-template #mainleft>
    <div style="height: 100%;">
      this is on mainleft
    </div>
  </ng-template>
  <ng-template #mainright>
    this is on mainright
  </ng-template>
  <ng-template #right>
    this is on right
  </ng-template>
  <ng-template #bottom>
    BOTTOM
  </ng-template>
</sl-Layouts>
