:root {
  --correct: rgb(75, 187, 75);
  --primary: #1e90ff;
  --accent: orangered;
  --danger: red;
}
.accent {
  color: var(--accent);
}
.correct {
  color: var(--correct);
}

.primary {
  color: var(--primary);
}
.danger {
  color: var(--danger);
}
.shadow {
  -webkit-box-shadow: -3px 0px 6px -2px rgb(0 0 0 / 39%);
  box-shadow: -3px 0px 6px -2px rgb(0 0 0 / 39%);

}
