@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,100;0,400;0,500;1,400&display=swap');




.sl-menu {
  background-color: rgba(15, 23, 42, 1);
    color: white;
    font-size: 14pt;
    width: 300px;
    margin: 0px;

  }

  .sl-menu-item {

    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .sl-menu-item:hover {

    border-radius: 5px;
    background-color: rgba(68, 71, 78, 0.44);
    color: white;
  }
  .sl-menu-item-current {

    border-radius: 5px;
    background-color: rgba(107, 103, 103, 0.438);
  }
  .sl-menu-title {
    text-transform: uppercase;
    color: orangered;
    font-size: 12px;
  }
  .sl-menu-subtitle {
    text-transform: uppercase;
    color: grey;
    font-size: 10px;
  }
