@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,100;0,400;0,500;1,400&display=swap');



.sl-topbar {
    color: white;
    font-size: 14pt;
    width: 300px;
    margin: 0px;
    -webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.39);
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.39);
  }
