
.dashboard-master {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
  }
  .dashboard-master-top {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    margin-top: 20px;
  }
  .dashboard-master-search {
    flex: 1 0 auto;
    margin-right:20px;
  }
  .dashboard-master-title {
    font-size: 28px;
    font-family: Inter;
    font-weight: 900;
    opacity: 0.8;
  }
  .dashboard-master-subtitle {
    font-size: 14px;
    font-family: Inter;
    font-weight: bold;
    opacity: 0.6;
  }
  