<div class="manager-detail-container" *ngIf="current">
  <app-details-header
    [current]="current"
    [EditStatus]="EditStatus"
    [cantSave]="this.form.invalid"
    (Save)="Save()"
    (Edit)="Edit()"
    (Cancel)="Cancel()"
    (Delete)="Delete()"
    ></app-details-header>

  <div class="manager-details-role">
    {{current.Role}} {{current.IdArea}}
  </div>

  <div class="accent manager-details-title">
    Ruolo
  </div>
  <div class="manager-details-value">
    {{current.Role}}
  </div>
  <div class="accent manager-details-title">
    Region
  </div>
  <div class="manager-details-value">
  {{current.Region}}
</div>
  <div class="accent manager-details-title">
    Area
  </div>
  <div class="manager-details-value">
    {{current.IdArea}}
  </div>

</div>
