.manager-container {
  padding: 20px
}

.manager-master-top {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
}
.manager-master-search {
  flex: 1 0 auto;
  margin-right:20px;
}
.manager-master-addbutton {


}
