<sl-hmaster-details
[Title]="'Managers'"
[Subtitle]="itemsCount + ' managers'"
[SelectedDetail]="DetailItem"
>
<ng-template #hmdmaster>
  <div class="manager-master">
    <div class="manager-master-top">
      <div class="manager-master-search">
        <sl-search-bar></sl-search-bar>
      </div>
      <div class="manager-master-addbutton">
        <sl-rounded-button class="button-accent" [Icon]="'fa-solid fa-plus'" [Text]="'New'"></sl-rounded-button>
      </div>

    </div>
    <app-manager-list [items]="items" (SelectedChange)="SelectedChange($event)"></app-manager-list>
  </div>
</ng-template>



<ng-template #hmddetails let-row>
  <app-manager-details [current]="row"></app-manager-details>
</ng-template>

</sl-hmaster-details>
