<sl-dashboard-placement>

  <ng-template #dashboarditem sl-dasboard-item  [IdItemType]="2" let-status>
    
    <h2>Ciao 1</h2>
  </ng-template>

  <ng-template #dashboarditem sl-dasboard-item [IdItemType]="2" let-status>
    <app-item-value></app-item-value>
  </ng-template>
</sl-dashboard-placement>


<!-- <sl-dashboard>

  <ng-template #dashboarditem let-cell>
    <sl-dashboard-chart-hbar [config]="cell"></sl-dashboard-chart-hbar>

   </ng-template>

   <ng-template #dashboarditem let-cell>
     <app-item-value [config]="cell"></app-item-value>
   </ng-template>

   <ng-template #dashboarditem let-cell>
     <h2>Ciao 1</h2>
   </ng-template>

   <ng-template #dashboarditem let-cell>
     <h2>Ciao 2</h2>
   </ng-template>
  -->

