<h1 *ngIf="current">{{current.Description}}</h1>
<sl-tab-header>
  <sl-tab-item slTabItem>
    Visualizza i dati per l'anno {{mainfilter.year}}
    <i class="fa fa-chevron-down" (click)="showYears=!showYears"></i>
    <sl-panel [visible]="showYears" [Width]="300" [Height]="300">
      <div class="year-list">
        <div class="year" *ngFor="let y of years" (click)="mainfilter.year=y;showYears=false">{{y}}</div>
    </div>
    </sl-panel>
  </sl-tab-item>
  
</sl-tab-header>

<sl-dashboard-config
  [children]="[t0, t1, t2, t3]"
  [childrennames]="listObject"
  [DashBoardConfig]="current"
  [Injections]="mainfilter"
>
</sl-dashboard-config>


<!-- -->

<ng-template #t0 let-cell>
 <sl-dashboard-chart-hbar [config]="cell"></sl-dashboard-chart-hbar> 

</ng-template>

<ng-template #t1 let-cell>
  <app-item-value [config]="cell"></app-item-value>
</ng-template>

<ng-template #t2 let-cell>
  <h2>Ciao 1</h2>
</ng-template>

<ng-template #t3 let-cell>
  <h2>Ciao 2</h2>
</ng-template>
