  <img
    alt="backimage"
    class="header-backimage"
    [src]="'assets/media/' + current!.BackgroundImage"
  />
  <div class="header-avatar-container">
    <sl-avatar
      class="avatar-big"
      [src]="'assets/media/' + current!.Avatar"
    ></sl-avatar>
  </div>
  <div class="header-details-name">
    {{ current!.Name }}
  </div>

  <div class="header-details-commands">
    <ng-container *ngIf="EditStatus=='none'">
      <sl-rounded-button class="button-primary" (click)="Edit.emit(current)" [Icon]="'fa-solid fa-pencil'" [Text]="'Edit'"></sl-rounded-button>
      <div class="header-spacer"></div>
      <sl-rounded-button class="button-danger" (click)="Delete.emit(current)" [Icon]="'fa-solid fa-trash'" [Text]="'Delete'"></sl-rounded-button>
    </ng-container>
    <ng-container *ngIf="EditStatus=='edit' || EditStatus=='add'">
      <sl-rounded-button class="button-accent" (click)="Save.emit(current)" [Disabled]="cantSave" [Icon]="'fa-solid fa-save'" [Text]="'Save'"></sl-rounded-button>
      <div class="header-spacer"></div>
      <sl-rounded-button class="button-primary" (click)="Cancel.emit(current)" [Icon]="'fa-solid fa-undo'" [Text]="'Cancel'"></sl-rounded-button>
    </ng-container>
  </div>
