
<sl-data-list [Items]="items" (SelectedChange)="ItemSelected($event)">
  <ng-template #rowhead let-row>
    <sl-avatar class="avatar-small" [src]="'assets/media/regions/' + row.Avatar"></sl-avatar>
  </ng-template>
  <ng-template #rowmain let-row>
    <div class="regions-master-col regions-master-info">
      <div class="regions-master-name">{{row.Name}}</div>
      <div class="regions-master-row">

        <div class="regions-master-subtitle accent">Aree:</div>
        <div style="margin-left:5px" *ngIf="row.Aree">{{AreeList(row)}}</div>

      </div>
    </div>
  </ng-template>
</sl-data-list>
