
<sl-data-list [Items]="items" (SelectedChange)="ItemSelected($event)">
  <ng-template #rowhead let-row>

    <p-avatar [image]="'assets/media/' + row.Avatar" shape="circle"></p-avatar>
  </ng-template>
  <ng-template #rowmain let-row>
    <div class="manager-master-col manager-master-info">
      <div class="manager-master-name">{{row.Name}} {{row.Surname}}</div>
      <div class="manager-master-row">
        <div class="manager-master-subtitle accent">Region: </div>{{row.Region}}
        <div class="manager-master-subtitle accent">Area: </div>{{areaserv.getAreaName(row.IdArea) }}
      </div>
    </div>
  </ng-template>
</sl-data-list>
