<div class="region-detail-container">
  <img
    alt="backimage"
    class="region-backimage"
    [src]="'assets/media/backgrounds/' + current!.BackgroundImage"
  />
  <div class="region-avatar-container">
    <sl-avatar
      class="avatar-big"
      [src]="'assets/media/regions/' + current!.Avatar"
    ></sl-avatar>
  </div>
  <div class="region-details-name">
    {{ current!.Name }}
  </div>

  <div class="region-details-commands">
    <ng-container *ngIf="EditStatus=='none'">
      <sl-rounded-button class="button-primary" (click)="Edit()" [Icon]="'fa-solid fa-pencil'" [Text]="'Edit'"></sl-rounded-button>
      <div class="region-spacer"></div>
      <sl-rounded-button class="button-danger" (click)="Delete()" [Icon]="'fa-solid fa-trash'" [Text]="'Delete'"></sl-rounded-button>
    </ng-container>
    <ng-container *ngIf="EditStatus=='edit' || EditStatus=='add'">
      <sl-rounded-button class="button-accent" (click)="Save()" [Disabled]="disableSave()" [Icon]="'fa-solid fa-save'" [Text]="'Save'"></sl-rounded-button>
      <div class="region-spacer"></div>
      <sl-rounded-button class="button-primary" (click)="Cancel()" [Icon]="'fa-solid fa-undo'" [Text]="'Cancel'"></sl-rounded-button>
    </ng-container>
  </div>

  <ng-container *ngIf="EditStatus=='none'">

    <div class="accent region-details-title">
      Aree
    </div>
    <div *ngFor="let area of current!.Aree" class="region-details-value">
      {{area.Name}}
    </div>
  </ng-container>

  <ng-container *ngIf="EditStatus=='add' || EditStatus=='edit'">
  <ng-scrollbar style="height:calc(100vh - 240px)">

    <form  [formGroup]="form">
    <div class="region-edit-form">
      <label  class="region-edit-label"  for="region-name">Region name</label>
      <input  class="region-edit-textbox" id="region-name" formControlName="Name">
    </div>

    <div class="accent region-details-title">
      Aree
    </div>
    <div class="region-edit-form" >
      <div *ngFor="let areaitem of activeAree(); let i=index" class="region-details-value">
        <div class="region-area-edit">
          <sl-rounded-button class="button-danger" [Icon]="'fa-solid fa-times'" (click)="DeleteArea(areaitem)"></sl-rounded-button>
          <!-- <input  class="region-edit-textbox" id="area-{i}" [(ngModel)]="areaitem.Name" [ngModelOptions]="{standalone: true}"> -->
          <!--<div class="region-edit-label">{{area.Name}}</div>-->
          <input  class="region-edit-textbox" id="area-{i}" formControlName="Name">

        </div>

      </div>
      <div class="region-button" >
      <sl-rounded-button class="button-accent" [Icon]="'fa-solid fa-plus'" (click)="createArea()" [Text]="'Nuova area'"></sl-rounded-button>
    </div>
    </div>
  </form>
</ng-scrollbar>
  </ng-container>



</div>
